# Gradle / build
.gradle/
build/
app/build/

# Android Studio / IntelliJ local junk
.idea/caches/
.idea/shelf/
.idea/workspace.xml
.idea/appInsightsSettings.xml
.idea/deviceStreaming.xml

# Local keys / signing / secrets
key/
*.jks
*.keystore
*.key
*.pem
*.p12
local.properties

# OS junk
.DS_Store
Thumbs.db

# Temporary archives
*.zip
*.rar
*.tar.gz

#folders
art/


